package home

import "word-amongus-game/pkgs/ui"

templ pageIndex() {
	@ui.Page() {
		<form
			hx-post="/rooms"
			hx-swap="none"
		>
			<label>
				Your Name
				<input type="text" name="player_name" placeholder="Amongus HAHAHAHHA ඞ"/>
			</label>
			<button type="submit">Create room</button>
		</form>
	}
}
